logs
project/project
project/target
target
tmp
/node_modules
/fac-node_modules
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.DS_Store
*.pyc
*.class
*.iml
*.ipr
/node_modules
play.data

data/cities.json
data/normalized_cities.json
data/training_cities.json
data/test_cities.json
data/labeled_cities.json

/presentation/*.log
/presentation/*.aux
/presentation/*.nav
/presentation/*.out
/presentation/*.pdf
/presentation/*.toc
/presentation/*.snm
/presentation/*.vrb
